
<%= form_tag sessions_path do %>
<div id="second_column">
  <div class="login">
	   <h1>Log in as a Registrar</h1>
    <%= label_tag :email %>
<br>
    <%= text_field_tag :email, params[:email] %>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>

	  <div class="actions"><%= submit_tag "Log in" %></div>

	  </div>
	</div>
  </div>


<% end %>

