<br>
<br>
<br>
<br>
<br> 
<table class="gridtable">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Year of graduation</th>
  </tr>

<% @students.each do |student| %>
 <% if current_student != nil && current_student.id == student.id %>
  <tr>
    <td><%= student.proper_name %></td>
    <td><%= student.email %></td>
    <td><%= student.year_of_graduation %></td>

    <td><%= link_to "Show", student %></td>
    <% if can? :update, student %>
    <td><%= link_to "Edit", edit_student_path(student) %></td>
    <% end %>
    <% if can? :destroy, student %>
    <td><%= button_to "delete", student, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
<% @students.each do |student| %>
<% if current_registrar != nil && (current_registrar.university_id == student.university_id || current_registrar.admin?) %>
  <tr>
    <td><%= student.proper_name %></td>
    <td><%= student.email %></td>
    <td><%= student.year_of_graduation %></td>
    <td><%= link_to "Show", student %></td>
    <% if can? :update, student %>
    <td><%= link_to "Edit", edit_student_path(student) %></td>
    <% end %>
    <% if can? :destroy, student %>
    <td><%= button_to "delete", student, :method => :delete %></td>
	<% end %>
  </tr>
  <% end %>
<% end %>
</table>

<br />
<% if current_registrar != nil && current_registrar.admin == true %>
<% if current_student == 0 %>
<%= link_to 'New Student', new_student_path %>
<% end %>
<% end %>
<div id="paginate_positiion">
<%= will_paginate %>

</div> 
