<<<<<<< HEAD
<!-- <p id="notice"><%= notice %></p> -->
<br> <br> <br> <br> <br> 
=======

<br> <br>
>>>>>>> hmabdull-master
<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Student number:</b>
  <%= @student.student_number %>
</p>

<p>
  <b>Mobile:</b>
  <%= @student.mobile %>
</p>

<p>
  <b>Major:</b>
  <%= @student.major %>
</p>

<p>
  <b>University:</b>
  <% temp = @student.university_id %>
  <%= University.find(temp).name %>
</p>

<p>
  <b>Year of graduation:</b>
  <%= @student.year_of_graduation %>
</p>

<p>
  <b>Active:</b>
  <%= @student.active %>
</p>

<% if can? :update, @student %>
<br>
<%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>
<%= link_to 'Back', students_path %>
