<%= form_for @application, :html =>{ :multipart => true } do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %>, can you please complete the required fields</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="student_table">

     <h1>New Application</h1>

         <div class="field">
            <% f.label :student_id %><br />
            <%= f.hidden_field :student_id %>
          </div>
        <div class="field">
          <% f.label :application_date %><br />
          <%= f.hidden_field :application_date %>
        </div>

        <div class="field">
          <%= f.label :course_no %><br />
          <%= f.text_field :course_no , :placeholder => "Course no from schedules"  %> <%= link_to 'View Schedules', schedules_path %>
        </div>
<br>
        <div class="field">
          <%= f.label :university_id %><br />
          <%= collection_select(:application, :university_id, University.all, :id, :name) %><br />
        </div>
<br>
        <div class="field">
      	 <%= f.label :passport_copy %><br />
          <%= f.file_field :passport_copy %>
        </div>
<br>
        <div class="field">
          <%= f.label :sign_form %><br />
          <%= f.file_field :sign_form %>
        </div>
<br>
      <div class="field">
        <%= f.label :semester_year %><br />
        <%= f.select(:semester_year, Application::SEMESTER) %>
      </div>
<br/>
      <div class="actions">
        
        <%= f.submit %>
    <br/>
      </div>
<br/> 

<% end %>

</div> 

