<h1>Listing applications</h1>

<table>
  <tr>
    <th>Application date</th>
    <th>Course no</th>
    <th>University</th>
    <th>Passport Copy</th>
    <th>Sign Form</th>
    <th>Semester year</th>
    <th>Registrar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <% if current_student != nil && application.student_id == current_student.id %>
    <td><%= application.application_date %></td>
    <td><%= application.course_no %></td>
    <td><%= application.university_id %></td>
    <td><%= application.passport_copy %></td>
    <td><%= application.sign_form %></td>
    <td><%= application.semester_year %></td>
    <td><%= application.registrar_id %></td>
    <% if can? :read, application %>
    <td><%= link_to 'Show', application %></td>
    <% end %>
    <% if can? :update, application %>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <% end %>
    <% if can? :destroy, application %>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
<% @applications.each do |application| %>
  <tr>
    <% if current_registrar != nil && current_registrar.university_id == application.university_id || current_registrar.admin? %>
    <td><%= application.application_date %></td>
    <td><%= application.course_no %></td>
    <td><%= application.university_id %></td>
    <td><%= application.passport_copy %></td>
    <td><%= application.sign_form %></td>
    <td><%= application.semester_year %></td>
    <td><%= application.registrar_id %></td>
    <% if can? :read, application %>
    <td><%= link_to 'Show', application %></td>
    <% end %>
    <% if can? :update, application %>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <% end %>
    <% if can? :destroy, application %>
    <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />