<br>
<br>
<br>
<br>
<br>
<% if current_student != nil %>


<table class="gridtable">

  <tr>
    <th>Application date</th>
	<th>Student</th>
    <th>Course no</th>
    <th>University</th>
    <th>Semester year</th>
    <th>Status</th>
       <th colspan="3"> Actions </th>

  </tr>


<% @applications.each do |application| %>
  <tr>
    <% if application.student_id == current_student.id %>
    <td><%= application.application_date %></td>
	<td><%= link_to application.student.proper_name, application.student %></td>
    <td><%= application.course_no %></td>
    <td><%= application.university.name %></td>
    <td><%= application.semester_year %></td>
    <td><%= application.status %></td>
    <% if can? :read, application %>
    <td><%= link_to "Show", application %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<% if current_registrar != nil %>

<table class="gridtable">

  <tr>
    <th>Application date</th>
	<th>Student</th>
    <th>Course no</th>
    <th>University</th>
    <th>Passport Copy</th>
    <th>Sign Form</th>
    <th>Semester year</th>
    <th>Status</th>

  </tr>

<% @applications.each do |application| %>
  <tr>
    <% if current_registrar.university_id == application.university_id || current_registrar.admin? %>

    <td><%= application.application_date %></td>
	<td><%= link_to application.student.proper_name, application.student %></td>
    <td><%= application.course_no %></td>
    <td><%= application.university.name %></td>
    <td><%= link_to 'View', application.passport_copy.url %></td>
    <td><%= link_to 'View', application.sign_form.url %></td>
    <td><%= application.semester_year %></td>
    <td><%= application.status %></td>

    <% if can? :read, application %>
    <td><%= link_to "Show", application %></td>
    <% end %>
    <% if can? :update, application %>
    <td><%= link_to "Edit", edit_application_path(application) %></td>
    <% end %>
    <% if can? :destroy, application %>
    <td><%= button_to "delete", application, :method => :delete %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<% end %>

<br />
<div id="paginate_positiion">
<%= will_paginate %>

</div> 