<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Application date:</b>
  <%= @application.application_date %>
</p>

<p>
  <b>Course no:</b>
  <%= @application.course_no %>
</p>

<p>
  <b>University:</b>
  <% temp = @application.university_id %>
  <%= University.find(temp).name %>
</p>

<p>
  <b>Passport copy:</b>
  <%= link_to 'view', @application.passport_copy.url %>
</p>

<p>
  <b>Sign form:</b>
  <%= link_to 'view', @application.sign_form.url %>
</p>

<p>
  <b>Semester year:</b>
  <%= @application.semester_year %>
</p>

<% if current_student%>
<p>
  <b>Student Number:</b>
  <%= @application.student.student_number %>
</p>
<% end %>

<p>
  <b>Status:</b>
  <%= @application.status %>
</p>


<% if current_registrar %>
 <%= button_to 'Approve', :controller => 'applications', :action => 'approve' %>
<% end %>
<% if current_registrar %>
 <%= button_to 'Decline', :controller => 'applications', :action => 'decline' %>
<% end %>
<% if can? :update, @application %>
<%= link_to 'Edit', edit_application_path(@application) %> |
<% end %>
<% if can? :destroy, @application %>
<%= link_to 'Back', applications_path %>
<% end %>