<p id="notice"><%= notice %></p>

<p>
  <b>Application date:</b>
  <%= @application.application_date %>
</p>

<p>
  <b>Course no:</b>
  <%= @application.course_no %>
</p>

<p>
  <b>University:</b>
  <%= @application.university_id %>
</p>

<p>
  <b>Passport copy:</b>
  <%= @application.passport_copy %>
</p>

<p>
  <b>Sign form:</b>
  <%= @application.sign_form %>
</p>

<p>
  <b>Semester year:</b>
  <%= @application.semester_year %>
</p>

<p>
  <b>Registrar:</b>
  <%= @application.registrar_id %>
</p>

<p>
  <b>Status:</b>
  <%= @application.status %>
</p>


<% if current_registrar %>
 <%= link_to 'Approve', :controller => 'applications', :action => 'approve' %> |
<% end %>
<% if current_registrar %>
 <%= link_to 'Decline', :controller => 'applications', :action => 'decline' %> |
<% end %>
<% if can? :update, @application %>
<%= link_to 'Edit', edit_application_path(@application) %> |
<% end %>
<% if can? :destroy, @application %>
<%= link_to 'Back', applications_path %>
<% end %>