<h1>Listing registrars</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrars.each do |registrar| %>
  <tr>
    <td><%= registrar.first_name %></td>
    <td><%= registrar.last_name %></td>
    <td><%= registrar.email %></td>
    <td><%= registrar.phone %></td>
    <td><%= link_to 'Show', registrar %></td>
    <% if can? :update, @registrar %>
      <td><%= link_to 'Edit', edit_registrar_path(registrar) %></td>
    <% end %>
    <% if can? :destroy, @registrar %>
    <td><%= link_to 'Destroy', registrar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, @registrar %>
<%= link_to 'New Registrar', new_registrar_path %>
<% end %>
