<br>
<br>
<br>

<h1>Deadlines</h1>

<table class="gridtable">
  <tr>
    <th>Semester</th>
    <th>Start of registration</th>
    <th>Start of classes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deadlines.each do |deadline| %>
  <tr>
    <td><%= deadline.semester %></td>
    <td><%= deadline.start_of_registration %></td>
    <td><%= deadline.start_of_classes %></td>
    <td><%= link_to 'Show', deadline%></td>
	<% if can? :edit, deadline %>
    <td><%= link_to "Edit", edit_deadline_path(deadline) %></td>
	<% end %>
	<% if can? :destroy, deadline %>
    <td><%= button_to "delete", deadline, :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Deadline %>
<%= link_to 'New Deadline', new_deadline_path %>
<% end %>
