<%= form_for @schedule, :html =>{:multipart => true} do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br>


<div class="student_table">
   <h1>New Schedules</h1>

    <div class="field">
        <% f.label :registrar_id %>
        <%= f.hidden_field :registrar_id %>
      </div><br />
      <div class="field">
        <%= f.label :file_name %><br />
        <%= f.text_field :file_name %>
      </div><br />
      <div class="field">
        <%= f.label :date_uploaded %><br />
        <%= f.date_select :date_uploaded %>
      </div><br />
      <div class="field">
        <%= f.label :schedule %><br />
        <%= f.file_field :schedule %>
      </div><br />
      <div class="field">
        <%= f.label :semester_year %><br />
        <%= f.text_field :semester_year %>
      </div><br />
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
</div> 