
<br>
<br>
<br>
<br>
<br>

<table class="gridtable">
  <tr>
    <th>File name</th>
    <th>Date uploaded</th>
    <th>Schedule</th>
    <th>Semester year</th>
	<th>University</th>
	<th>Actions</th>

  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.file_name %></td>
    <td><%= schedule.date_uploaded %></td>
    <td><%= link_to 'View', schedule.schedule.url %></td>
    <td><%= schedule.semester_year %></td>
	<% temp2 = schedule.registrar_id %>
	<% temp3 = Registrar.find(temp2).university_id %>
	<td><%= University.find(temp3).name %></td>

    <td><%= link_to "Show", schedule %></td>
    <% if can? :update, @schedule %>
    <td><%= link_to "Edit", edit_schedule_path(schedule) %></td>
	<% end %>
	<% if can? :destroy, @schedule %>
	<td><%= button_to "delete", schedule, :method => :delete %></td>
      <% end %> 
  </tr>
<% end %>
</table>
<div id="paginate_positiion">
<%= will_paginate %>
<br />
</div> 

<% if current_registrar != nil %>
<%= link_to 'New Schedule', new_schedule_path %>
<% end %>