
<br>
<br>
<br>
<br>
<br>

<table class="gridtable">
  <tr>
    <th>File name</th>
    <th>Date uploaded</th>
    <th>Schedule</th>
    <th>Semester year</th>
	<th>University</th>

  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.file_name %></td>
    <td><%= schedule.date_uploaded %></td>
    <td><%= link_to 'View', schedule.schedule.url %></td>
    <td><%= schedule.semester_year %></td>
	<% temp2 = schedule.registrar_id %>
	<% temp3 = Registrar.find(temp2).university_id %>
	<td><%= University.find(temp3).name %></td>

     <% if current_registrar %>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %> 
  </tr>
<% end %>
</table>
<%= will_paginate %>
<br />


<% if current_registrar != nil %>
<%= link_to 'New Schedule', new_schedule_path %>
<% end %>