<h1>Welcome to Across EC</h1>
<br>
<%= link_to "Log in as a Registrar", '/loginasregistrar' %>
<%= link_to "Log in as a Student", '/loginasstudent' %>
<br>
<% if current_registrar %>
	You are logged in as a registrar
	<%=h current_registrar.first_name%>
	<%= link_to "Log out", '/registrarlogout' %>
<% end %>
<% if current_student%>
	You are logged in as a student
	<%=h current_student.first_name%>
	<%= link_to "Log out", '/studentlogout' %>
<% end %>
