<table width="1000px" cellpadding="0" cellspacing="0" border="0">
    <tr>
	<td width="350px" valign="top">
            
<%= form_tag sessions_students_path do %>
<div id="second_column">
  <div class="login">
    <h1>Log in as a Student</h1>
    <%= label_tag :email %>
<br />
    <%= text_field_tag :email, params[:email] %>
      <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
   <div class="actions"><%= submit_tag "Log in" %></div>

	</div>
</div>
 <% end %>

</td>

        <td width="350px" valign="top">
		
<%= form_tag sessions_path do %>
<div id="second_column">
  <div class="login">
	   <h1>Log in as a Registrar</h1>
    <%= label_tag :email %>
<br>
    <%= text_field_tag :email, params[:email] %>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>

	  <div class="actions"><%= submit_tag "Log in" %></div>
 </div>
	</div>
  </div>
<% end %>

        </td>
    </tr>
</table>

<div id="Signup">

    <p> Don't have an account? <%= link_to "Sign Up", new_student_path %> </p>
	</div>
