<br>
<br>
<br>
<br>
<br>

<table class="gridtable">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @universities.each do |university| %>
  <tr>
    <td><%= university.name %></td>
    <td><%= link_to 'Show', university %></td>
	<% if can? :update, @university %
    <td><%= link_to 'Edit', edit_university_path(university) %></td>
	<% end %>
   <% if can? :destroy, @university %>
    <td><%= button_to "delete", university, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New University', new_university_path %>
