<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= csrf_meta_tags %>

</head>
<body>
	<div id="flash_error">
		<p class= "flash-error"><%= flash[:alert] %></p>

		<p class= "flash-notice"><%= flash[:notice] %></p>

	</div>
<div id="container" width="900" height="780">	
        <div id="images">
			<img src="http://i45.tinypic.com/beyl3b.jpg" width="900" height="780">
			</div>
			</div>



</div> 

<div id="box">

	    <div id="demo-1" class="demobox">
		<div id="logo">
		
		<%= link_to image_tag('http://i49.tinypic.com/24cdqpl.gif'),  :controller => 'pages', :action => 'home', :options => {:style =>"height: 100px;"}%> 
		</div>


		<% if current_student == nil && current_registrar == nil %>
		<div id="log_link">

			<%= button_to 'Log In', :controller => 'sessions_students', :action => 'new' %>
			</div>
		<% end %>

		<!-- <%= link_to image_tag('http://i49.tinypic.com/2ef2uza.gif'),  :controller => 'pages', :action => 'home', :options => {:style =>"height: 100px;"}%> </div> --> 

		 <% if current_registrar %>	

<div id="registrar_student">
		<p> <%= link_to "#{current_registrar.proper_name}", current_registrar %> </a><p> 


		<%= button_to "Log out", '/registrarlogout' %>
		</div>

		<% end %>

		<% if current_student %>	

<div id="registrar_student">
		<p> <%= link_to "#{current_student.proper_name}", current_student %> </a><p> 

		<%= button_to "Log out", '/studentlogout' %>
</div>
		<% end %>

				</div>


<p> </p>
			 <nav>
			       <ul id="top_nav" class="clearfix">


					<% if current_student %>
					<li><a href="/applications/new">Apply </a></li>
					<% elsif current_registrar %>
					<li><a href="/students">Students </a></li>
					<% else %>
					<li><a href="/loginasstudent">Apply</a></li>
					<% end %>				   
					<li><a href="/schedules">View Schedule</a></li>
					<% if current_registrar %>
					<li><a href="/applications">ViewApplications </a></li>
					<% else %>
					<% if current_student %>
					<li><a href="/applications">ApplicationStatus</a></li>
					<% else %>
					<li><a href="/loginasstudent">ApplicationStatus</a></li>
					<% end %>
					<% end %>
					<li><%= link_to 'Signature form', '/resource/form.pdf' -%></li>
					<% if current_student == nil && current_registrar == nil %>
					<li><a href="/login">Log in</a></li> 
					<% end %>
			       </ul>
			</nav>

		<div id="content">
			
		<%= yield %>

		</div> 


			
<!--
			<div id="logo_footer" ><img src="assets/cmu-qf.gif" alt="CMU and QF logo"  width="300" height="100">
			</div>
--> 
</div>

</body>

<footer>
	<div id="logo_footer" ><img src="http://i45.tinypic.com/35ko5c6.gif" alt="CMU and QF logo"  width="300" height="100">
			</div>

			
	<div id="second_nav">

<ul>
<li><a href="#home" style="text-decoration: none">Home </a></li> 
<li><a href="#about" STYLE="TEXT-DECORATION: NONE">About AcrossEC</a></li> 
<li><a href="#View Schedule" STYLE="TEXT-DECORATION: NONE">Contact Us</a></li>
<li><a href="#Apply" STYLE="TEXT-DECORATION: NONE">Privacy Policy</a></li>
<li><a href="#q" STYLE="TEXT-DECORATION: NONE">Questions</a></li> 


</ul>

</footer>

</html>


